/*Index*/
.container {
    background: #000;
    margin: 0 auto;
    min-height: 100vh;
    padding: 60px 70px 270px 70px;
  }
  @media screen and (max-width: 480px){
    .container {
      padding: 60px 30px 270px 30px;
    }
  }

/*Header*/
.header_content {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
  }
  .logo a {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .block-rigth {
    display: flex;
  }
  .lang a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    text-transform: uppercase;
  }
  .lang a:hover {
    opacity: 0.4;
  }
  .lang a:last-child {
    margin: 0 70px 0 40px;
  }
  .burger {
    cursor: pointer;
  }
  .burger span {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 6px;
  }
  a {
    text-decoration: none;
    color: #FFFFFF;
  }
  @media screen and (max-width: 480px){
    .lang {
      display: none;
    }
  }

  /*Slider*/
  .social-block {
    width: 30px;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
  }
  .social a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transform: rotate(-90deg);
    display: block;
  }
  .social a:nth-child(2) {
    margin: 50px 0;
  }
  .slider-text {
    position: absolute;
    color: #fff;
    top: 60%;
    z-index: 1;
  }
  .subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #a3a3a3;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .title {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    text-transform: uppercase;
    color: #ffffff;
  }
  @media screen and (max-width: 732px){
    .title {
      font-size: 70px;
    }
  }
  @media screen and (max-width: 480px){
    img {
      padding-right: 5px;
    }
    .slider-text {
      top: 33%;
    }
    .social-block {
      display: none;
    }
  }
  @media screen and (max-width: 442px) {
    .title {
      font-size: 50px;
    }
  }